@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.largeTitle {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
  background: linear-gradient(black 30%, white 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flicker 6s infinite;
}

@keyframes flicker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
